<!-- <h1>Angular work</h1>
<button (click)="stop()">Stop</button>

<app-header></app-header>

<app-users></app-users>

<button #button>Click</button>

<div id="container">

</div> -->

<div style="text-align: center;">
    <h3>App Component</h3>
    <div class="navbar">
        <h2><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></h2>
        <h2><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></h2>
        <h2><a routerLink="/header" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Header</a></h2>
        <h2><a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a></h2>
        <h2><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LogIn</a></h2>
        <h2><a routerLink="/login" [queryParams]="{islogin: true}" (click)="onLogOut()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LogOut</a></h2>
    </div>
    <!-- <button (click)="onClick()">Click to go Header</button> -->
    <br>
    <router-outlet></router-outlet>
</div>